<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <h1 style="text-align:center;">CRYPTOCURRENCIES</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://34.171.28.83:5000/currency">Graph</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="http://34.171.28.83:5000/googleTable">Variance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data From Mongo Using API
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://34.171.28.83:5000/api/currency-pairs">Crypto-Pairs</a></li>
              <li><a class="dropdown-item" href="http://34.171.28.83:5000/api/currencies?page=1&limit=10&pair=BTCUSDT">API-Data</a></li>
              <li><a class="dropdown-item" href="http://34.171.28.83:5000/api/allcurrencies">All-Data</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Graphs</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <body class="hm-gradient">
    
    <main>
        
        <!--MDB Tables-->
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <!--Table-->
                    <table class="table table-hover">
                        <!--Table head-->
                        <thead class="mdb-color darken-3">
                            <tr class="text-black">
                                <th>#</th>
                                <th>Functionality</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Graph: </td>
                                <td>Pie chart to visualize curriencies with top Average Volume
                                </td>
                            </tr>             
                            <th scope="row">2</th>
                            <td>Variance                                                                                    </td>
                            <td>It depicts the currency,high price and low price. 
                                It also show the variance which is defference between high and low price</td>
                        </tr>    
                        <th scope="row">3</th>
                        <td>API-Crypto-Pairs</td>
                        <td>It provide all currency exchane pairs from the data through API using MongoDB as source database </td>
                    </tr>    
                  </tr>    
                  <th scope="row">4</th>
                  <td>API-Data</td>
                  <td>It provide additional functionality to limit the data while fetching it from through API using pagination </td>
              </tr>       
            </tr>    
            <th scope="row">5</th>
            <td>API-All-Data</td>
            <td>It provide all data through API using MongoDB as source database </td>
        </tr>            
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>

        </div>
        <!--MDB Tables-->
      
    </main>
  </body> 
