<style>
    table {
border-top: 2px solid black;
border-bottom: 2px solid black;
}
    th, td, p, input {
        font:24px Verdana;
    }
    th, td
    {
        border: solid 10px white;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    th {
        font-weight:bold;
        text-transform: capitalize;
        border: 1px solid #bdbdbd;
        text-align: center;
        background: lightblue;
        border-color: white;
    }
    
    
</style>
</head>
<body>

<p id="showData"></p>
</body>
<script>

    var currencies = [
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d214"
  },
  "symbol":"ETHBTC",
  "openPrice":"0.07061800",
  "highPrice":"0.07377000",
  "lowPrice":"0.07042100",
  "volume":"110590.45470000",
  "openTime":1659650161768,
  "closeTime":1659736561768
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d215"
  },
  "symbol":"LTCBTC",
  "openPrice":"0.00263300",
  "highPrice":"0.00267400",
  "lowPrice":"0.00262100",
  "volume":"87838.75200000",
  "openTime":1659650161809,
  "closeTime":1659736561809
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d216"
  },
  "symbol":"BNBBTC",
  "openPrice":"0.01378200",
  "highPrice":"0.01387700",
  "lowPrice":"0.01345700",
  "volume":"97454.11500000",
  "openTime":1659650161698,
  "closeTime":1659736561698
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d217"
  },
  "symbol":"NEOBTC",
  "openPrice":"0.00047700",
  "highPrice":"0.00051300",
  "lowPrice":"0.00047500",
  "volume":"97982.26000000",
  "openTime":1659650151661,
  "closeTime":1659736551661
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d218"
  },
  "symbol":"QTUMETH",
  "openPrice":"0.00246200",
  "highPrice":"0.00249900",
  "lowPrice":"0.00238300",
  "volume":"4479.00000000",
  "openTime":1659650161207,
  "closeTime":1659736561207
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d219"
  },
  "symbol":"EOSETH",
  "openPrice":"0.00074000",
  "highPrice":"0.00074800",
  "lowPrice":"0.00072500",
  "volume":"139278.30000000",
  "openTime":1659650156512,
  "closeTime":1659736556512
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d21a"
  },
  "symbol":"SNTETH",
  "openPrice":"0.00001983",
  "highPrice":"0.00001998",
  "lowPrice":"0.00001899",
  "volume":"289510.00000000",
  "openTime":1659650148545,
  "closeTime":1659736548545
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d21b"
  },
  "symbol":"BNTETH",
  "openPrice":"0.00034000",
  "highPrice":"0.00034300",
  "lowPrice":"0.00033400",
  "volume":"44258.20000000",
  "openTime":1659650159356,
  "closeTime":1659736559356
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d21c"
  },
  "symbol":"BCCBTC",
  "openPrice":"0.00000000",
  "highPrice":"0.00000000",
  "lowPrice":"0.00000000",
  "volume":"0.00000000",
  "openTime":1658662182872,
  "closeTime":1658748582872
},
{
  "_id":{
     "$oid":"62ed91f34cb5827f2419d21d"
  },
  "symbol":"GASBTC",
  "openPrice":"0.00012820",
  "highPrice":"0.00013630",
  "lowPrice":"0.00012770",
  "volume":"117660.70000000",
  "openTime":1659650144697,
  "closeTime":1659736544697
}
]
    // EXTRACT VALUE FOR HTML HEADER.
    // ('Book ID', 'Book Name', 'Category' and 'Price')
    var col = [];
    for (var i = 1; i < currencies.length; i++) {
        for (var key in currencies[i]) {
            if (col.indexOf(key) === -1) {
                col.push(key);
            }
        }
    }
    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");
    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
    var tr = table.insertRow(-1); // TABLE ROW.
    for (var i = 1; i < col.length; i++) {
        var th = document.createElement("th"); // TABLE HEADER.
        th.innerHTML = col[i];
        tr.appendChild(th);
    }
    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 1; i < currencies.length; i++) {
        tr = table.insertRow(-1);
        for (var j = 1; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = currencies[i][col[j]];
        }
    }
    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("showData");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);

</script>
</html>
